streamlit
numpy
pandas
scikit-learn
google-api-python-client
plotly
Pillow
pdfminer.six
requests
pdfplumber
spacy==3.8.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
